.navigation-bar{
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-top: 5vh;
    margin-left: 10vw;
}
.navigation{
    margin-top: 5vh;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin-right: 10vw;
    font-family:cursive;
    font-size: 1rem;
}
.navigation li{
    padding: 10px;

}
.navigation li a{
    text-decoration: none;
    color: black;
}
.navigation li a:hover{
    border: 2px solid #f48225;
    padding: 5px;
    border-radius: 5px;
}
.card{
    background-color:#00001a;
    font-family:cursive;
    color:#f1f1f1f1;
    padding:10px 15px 10px 15px;
    height: 520px;
    overflow-y: scroll;
}
.card-title{
    color:#f48225;
}
.title1 a{
    text-decoration: none;
    color: #f1f1f1;
}
.title2 a{
    text-decoration: none;
    color: #f1f1f1;
}
.title3 a{
    text-decoration: none;
    color: #f1f1f1;
}
.line1{
    background-color:aliceblue;
    height: 1px;
    opacity: 30%;
}
.line2{
    background-color:aliceblue;
    height: 1px;
    opacity: 30%;
}
.grid-item3{
    color:#00001a;
    font-size: 2rem;
}
.grid-item4{
    font-family:Arial;
    color: grey;
}
.btn{
    background-color:#f15d51;
    color: #f1f1f1;
    font-family:Geneva;
    font-size: 1rem;
    padding: 5px 10px 5px 10px;
    max-width: 100px;
    text-align: center;
}
.btn a{
    text-decoration: none;
    color:#f1f1f1;
}
.grid-container{
    margin-left: 10vw;
    margin-right: 10vw;
    display: grid;
    grid-template-areas: 'banner banner card' 'header menu card';
    gap:20px;
}
.grid-item1{
    grid-area:banner;
}
.grid-item2{
    grid-area: card;
}
.grid-item3{
    grid-area: header;
}
.grid-item4{
    grid-area: menu;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top:20px;
    margin-bottom: 40px;
    font-family: cursive;
}
.grid-container2{
    /* margin-right: 15px; */
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding:10px;
    height: auto;
}
.grid-container3{
    /* margin-right: 15px; */
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding:10px;
    height: auto;
}
.grid-container4{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding:10px;
    height: auto;
}
.container2-grid-item2 h1{
    color:grey;
    
}
.container3-grid-item2 h1{
    color:grey;
    
}
.container4-grid-item2 h1{
    color:grey;
    
}
.container2-grid-item2 p{
    color: grey;
    font-family: Arial;
}
.container3-grid-item2 p{
    color: grey;
    font-family: Arial;
}
.container4-grid-item2 p{
    color: grey;
    font-family: Arial;
}
